.button {
  outline: none;
  border: none;
  color: var(--btn-text-color);
  background-color: var(--btn-color);
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  cursor: pointer;

  &__disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &:not(&__disabled):hover {
    background-color: var(--btn-hover-color);
  }
}
