@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --game-max-width: 500px;
  --letter-size: 6vh;

  @media only screen and (max-width: 600px) {
    --game-max-width: 375px;
    --letter-size: 7vh;
  }

  --background: white;
  --text-color: black;
  --header-border: black;
  --header-height: 60px;

  /* Key */
  --key-text-color: black;
  --key-color: #d3d6da;
  --key-hover-color: #a1a3a6;

  /* Letter */
  --letter-color: white;
  --letter-border: #d3d6da;
  --letter-text-color: black;

  --letter-correct-color: #6aaa64;
  --letter-close-color: #c9b458;
  --letter-incorrect-color: #787c7e;
}

[data-theme="dark"] {
  --background: #121213;
  --text-color: #ffffff;
  --header-border: #363639;

  /* Key */
  --key-text-color: #ffffff;
  --key-color: #818384;
  --key-hover-color: #a6a8aa;

  /* Letter */
  --letter-color: transparent;
  --letter-border: #3a3a3c;
  --letter-text-color: #ffffff;

  --letter-correct-color: #538d4e;
  --letter-close-color: #b59f3b;
  --letter-incorrect-color: #3a3a3c;
}
